.bordeasd {
  border: solid red 3px;
}
.bordeasd2 {
  border: solid purple 3px;
}
.bordeasd3 {
  border: solid green 3px;
}
* {
  box-sizing: border-box;
}
#header {
  height: 26vh;
  background-color: #e8bba8;
}
#tituloPgina {
  text-align: center;
  font-size: clamp(1px, 10vh, 10vh);
}
#navBar {
  background-color: #d9d9d9;
}
#menuDesplegable {
  background-color: #d9d9d9;
  border: solid black 1px;
}
#inputBusca {
  background-color: #d9d9d9;
  border-radius: 19px;
  color: black;
}
#inputBusca::placeholder {
  color: #949292;
}
.munieca {
  background-color: #d9d9d9;
  height: 45vh;
  border-radius: 15px;
}
.munieca:hover {
  cursor: pointer;
  animation-name: iconAnimIn;
  animation-duration: calc(1s * 0.5);
  animation-fill-mode: forwards;
}
.munieca:not(:hover) {
  cursor: pointer;
  animation-name: iconAnimOut;
  animation-duration: calc(1s * 0.5);
  animation-fill-mode: forwards;
}
.imagenMunieca {
  width: 100%;
  height: 60%;
  background-color: white;
}
@keyframes iconAnimIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes iconAnimOut {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
